@model AppPOS.ViewModel.KaryawanViewModel

<h3>Apa anda yakin ingin menghapus data ini?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoInduk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoInduk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamaDepan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaDepan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamaTengah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaTengah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamaBelakang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaBelakang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamaLengkap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamaLengkap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempatLahir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempatLahir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TanggalLahir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TanggalLahir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempatTanggalLahir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempatTanggalLahir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JenisKelaminDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JenisKelaminDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActivated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActivated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button type="button" id="btn-delete-confirm" class="btn btn-danger" data-id="@Model.Id">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
    }
</div>
<script type="text/javascript">
    $("#btn-delete-confirm").click(function () {
        //alert('Id-nya adalah : ' + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("DeleteConfirm", "Karyawan")',
            type: 'post',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                if (result.success)
                {
                    $("#modal-form").modal("hide");
                    ShowList();
                }
                else
                {
                    alert('Errpr : ' + result.message);
                }
            }
        });
    });
</script>