@model AppPOS.ViewModel.DetailReceivedOrderViewModel
<tr>
    <td>
        @Html.HiddenFor(model => model.IdBarang)
        @Html.HiddenFor(model => model.IdHeaderPembelian)
        @Html.EditorFor(model => model.CodeBarang, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.CodeBarang, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.Deskripsi, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.Deskripsi, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.HargaPembelian, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.HargaPembelian, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.JumlahBarang, new { htmlAttributes = new { @class = "form-control", @onchange = "GetValue(this);" } })
        @Html.ValidationMessageFor(model => model.JumlahBarang, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.EditorFor(model => model.Total, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.Total, "", new { @class = "text-danger" })
    </td>
</tr>